/*Luis C Marzal*/
body
    {
        background-color: black;
        color:white;
    }

.negrita
    {
        font-weight: bold;
    }

.narrador
    {
        font-style: italic;
        color:lightgray;
    }

.bueno
    {
        color:lime;
    }

.malo
    {
        color:red;
    }