/*Luis C Marzal*/
body
    {
        background-color: black;
        color:white;
    }

.negrita
    {
        font-weight: bold;
    }

.narrador
    {
        font-style: italic;
        color:lightgray;
    }

.bueno
    {
        color:lime;
    }

.malo
    {
        color:red;
    }

.disparo
    {
        font-weight: bold;
        color:rgb(255, 123, 0);
    }

.sinbalas
    {
        font-weight: bold;
        color:rgb(255, 219, 122);
    }

#copy
    {
        text-align: right;
    }