/*Luis C Marzal*/
body
    {
        background-color: pink;
    }

.negrita
    {
        font-weight: bold;
    }

.narrador
    {
        font-style: italic;
        color:gray;
    }

.bueno
    {
        color:green;
    }

.malo
    {
        color:red;
    }